<p>
  playlist works!
</p>
<div>
  <div  *ngFor="let video of awesomePlayer.playlist; let index = index" >
    <div *ngIf="video.approved"  placeholder="video" style="border:1px solid grey; margin-bottom: 2px;">
        <a href="" (click)="selectToPlay(awesomePlayer.playlist[index].id)" >
        <h5>{{awesomePlayer.playlist[index].title}}</h5>
       </a>
        <div calss="row">
            <span>
               {{awesomePlayer.playlist[index].likes}}
                <i class="fa fa-thumbs-up"></i>                
            </span>
             <span>
                {{awesomePlayer.playlist[index].unlike}}
                <i class="fa fa-thumbs-down"></i>                
            </span>                
        </div>
    </div>
  </div>
</div>
<!-- <div *ngIf="this.awesomePlayer.dataLoader">
  <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
</div> -->