<p>
  playlist works!
</p>
<div >
  <div  *ngFor="let video of awesomePlayer.playlist" >
    <div *ngIf="video.approved" style="border:1px solid grey; margin-bottom: 2px;">
     <a href="" (click)="selectToPlay(video.id)" >
        <h5>{{video.title}}</h5>
      </a>
      <div calss="row">
            <span>
               {{video.likes}}
                <i class="fa fa-thumbs-up"></i>                
            </span>
             <span>
                {{video.unlike}}
                <i class="fa fa-thumbs-down"></i>                
            </span>                
      </div>
    </div>
  </div>
</div>
<!-- <div *ngIf="this.awesomePlayer.dataLoader">
  <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
</div> -->